/* Reset CSS */
.search-filter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.contact{
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
#search-input {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
  }
button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
#filter-select {
    padding: 8px;
    margin-right: 10px;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1, h2 {
  text-align: center;
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

#book-details {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  height: auto;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

button:hover {
  background-color: #0056b3;
}