/* Reset CSS */
.search-filter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact {
    padding: 2px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#search-input {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
}

button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#filter-select {
    padding: 8px;
    margin-right: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}


h1,
h2 {
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

section.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 250px;
}

.product img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.product h2 {
    margin-top: 10px;
    font-size: 18px;
}

.product p {
    margin-bottom: 10px;
    color: #666;
}

.product button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

footer p {
    font-size: 14px;
}